<%= form_for [topic, post, comment] do |f| %>
  <% if session[:comment_errors] %>
    <div class="alert alert-danger">
      <h4>There are <%= pluralize(session[:comment_errors].count, "error") %>.</h4>
      <ul>
        <% session[:comment_errors].each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_group_tag(session[:comment_errors] || comment.errors[:body]) do %>
    <%= f.label :comment %>
    <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter comment here..." %>
  <% end %>
  <div class="form-group">
    <%= f.submit "Save", class: 'btn btn-success' %>
  </div>
<% end %>